.MainApp {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

input{
  background-color: lightgray;
}

.Header{
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.MainLink{
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
.CallendarLink{
  margin-left: auto;
  display: flex;
  justify-content: end;
}

.Callendar{
  display: block;
}