.ColorPicker{
    background-color: gray;
}


.AddTask{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
}

.AddTask.open{
    max-height: 400px;
}

.AddTaskButton{
    border-radius: 10px;
    background-color:rgb(210, 210, 210);
    font-size: larger;
}